<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/jass.css" />
  </head>
  <body>
    <main>
      <h1>Login</h1>
      <form class="login-form">
        <label for="email-login">Email</label>
        <input type="email" id="email-login" name="email" required />
        <label for="password-login">Password</label>
        <input type="password" id="password-login" name="password" required />
        <button type="submit">Login</button>
      </form>
    </main>
    <script src="/js/main.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>